h1 {
color: rgb(239,62,45);
font-family: HelveticaNeue-Bold, sans-serif;
font-size: 26px;
}

a {
color: rgb(239,62,45);
}
.numberfive {
font-family: trajan-pro-3, serif;
font-size: 24px;
color: rgb(239,62,45);
position: absolute;
top:72px;
left:326px;
}

.homeatbottom {
font-family: trajan-pro-3, serif;
font-size: 24px;
color: black;
position: absolute;
top:3833px;
left:290px;
}

.articletitle {
font-family: trajan-pro-3, serif;
font-size: 24px;
line-height: 28px;	
color: black;
}

.nameofauthor {
color: black;
font-family: HelveticaNeue-Light, sans-serif;
font-size: 17px;
}


.firstcharacter {
  color: rgb(239,62,45);
  float: left;
  font-family: HelveticaNeue-Light, sans-serif;
  font-size: 80px;
  line-height: 60px;
  padding-top: 4px;
  padding-right: 8px;
  padding-left: 3px;
}

p {
color: black;
font-family: HelveticaNeue-Light, sans-serif;
font-size: 16px;
line-height: 22px;
}


.imagedimensions {
width: 360px;
}

.pullquote {
font-family: trajan-pro-3, serif;
font-size: 24px;
line-height: 28px;	
color: black;
width: 200px;
margin-left: auto;
margin-right: auto;
}


.caption {
font-family: HelveticaNeue-Light, sans-serif;
font-size: 11px;
width:360px;
line-height:15px;
}















.startofarrow {
width: 2px;
height: 15px;
background-color: rgb(239,62,45);
position: absolute;
top:345px; 
left:9px;
}

.arrowline {
width: 2px;
height: 27px;
background-color: rgb(239,62,45);
position: absolute;
top:339px; 
left:23px;
transform: rotate(90deg);
}

.arrowside1 {
width: 2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:351px; 
left:32px;
transform: rotate(45deg);
}

.arrowside2 {
width: 2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top: 343px;
left: 32px;
transform: rotate(-45deg);
}









.startofarrow2 {
width: 2px;
height: 15px;
background-color: rgb(239,62,45);
position: absolute;
top:1532px; 
left:50px;
transform: rotate(90deg);
}

.arrowline2 {
width: 2px;
height: 435px;
background-color: rgb(239,62,45);
position: absolute;
top:1540px;
left:50px;
}

.arrowside3 {
width:2px;
height:11px;
background-color: rgb(239,62,45);
position: absolute;
top:1965px;
left:54px;
transform: rotate(45deg);
}

.arrowside4 {
width: 2px;
height:11px;
background-color: rgb(239,62,45);
position: absolute;
top:1965px;
left:46px;
transform: rotate(-45deg);
}





.startofarrow3 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:3864px;
left:9px;
}

.arrowline3 {
width: 2px;
height: 267px;
background-color: rgb(239,62,45);
position: absolute;
top:3739px;
left:144px;
transform: rotate(90deg);
}

.arrowside5 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:3870px;
left:274px;
transform: rotate(45deg);
}

.arrowside6 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:3864px;
left:274px;
transform: rotate(-45deg);
}