h1 {
color: rgb(239,62,45);
font-family: HelveticaNeue-Bold, sans-serif;
font-size: 60px;
line-height: 60px;
}

a {
color: rgb(239,62,45);
}

.zinediscription {
font-family: trajan-pro-3, serif;
font-size: 21px;
line-height: 23px;	
color: rgb(239,62,45);
position: absolute;
top: 165px;
}


.articletitle {
font-family: trajan-pro-3, serif;
font-size: 20px;
line-height: 22px;	
color: black;
}



.number1 {
font-family: trajan-pro-3, serif;
font-size: 20px;
color: black;
position: absolute;
top:462px;
left:326px;
}

.number2 {
font-family: trajan-pro-3, serif;
font-size: 20px;
color: black;
position: absolute;
top:660px;
left:326px;
}

.number3 {
font-family: trajan-pro-3, serif;
font-size: 20px;
color: black;
position: absolute;
top:832px;
left:326px;
}

.number4 {
font-family: trajan-pro-3, serif;
font-size: 20px;
color: black;
position: absolute;
top:1027px;
left:326px;
}

.number5 {
font-family: trajan-pro-3, serif;
font-size: 20px;
color: black;
position: absolute;
top:1202px;
left:326px;
}




.startofarrow {
width: 2px;
height: 15px;
background-color: rgb(239,62,45);
position: absolute;
top:320px; 
left:9px;
}

.arrowline {
width: 2px;
height: 27px;
background-color: rgb(239,62,45);
position: absolute;
top:314px; 
left:23px;
transform: rotate(90deg);
}

.arrowside1 {
width: 2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:326px; 
left:32px;
transform: rotate(45deg);
}

.arrowside2 {
width: 2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top: 318px;
left: 32px;
transform: rotate(-45deg);
}









.startofarrow2 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:490px;
left:195px;
}

.arrowline2 {
width: 2px;
height: 115px;
background-color: rgb(239,62,45);
position: absolute;
top:441px;
left:252px;
transform: rotate(90deg);
}

.arrowside3 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:496px;
left:308px;
transform: rotate(45deg);
}

.arrowside4 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:490px;
left:308px;
transform: rotate(-45deg);
}







.startofarrow3 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:685px;
left:90px;
}

.arrowline3 {
width: 2px;
height: 221px;
background-color: rgb(239,62,45);
position: absolute;
top:583px;
left:200px;
transform: rotate(90deg);
}

.arrowside5 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:691px;
left:308px;
transform: rotate(45deg);
}

.arrowside6 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:685px;
left:308px;
transform: rotate(-45deg);
}







.startofarrow4 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:860px;
left:130px;
}

.arrowline4 {
width: 2px;
height: 180px;
background-color: rgb(239,62,45);
position: absolute;
top:779px;
left:220px;
transform: rotate(90deg);
}

.arrowside7 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:867px;
left:307px;
transform: rotate(45deg);
}

.arrowside8 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:861px;
left:307px;
transform: rotate(-45deg);
}










.startofarrow5 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:1055px;
left:90px;
}

.arrowline5 {
width: 2px;
height: 221px;
background-color: rgb(239,62,45);
position: absolute;
top:954px;
left:200px;
transform: rotate(90deg);
}

.arrowside9 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:1062px;
left:308px;
transform: rotate(45deg);
}

.arrowside10 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:1056px;
left:308px;
transform: rotate(-45deg);
}








.startofarrow6 {
width: 2px;
height: 17px;
background-color: rgb(239,62,45);
position: absolute;
top:1230px;
left:123px;
}

.arrowline6 {
width: 2px;
height: 187px;
background-color: rgb(239,62,45);
position: absolute;
top:1146px;
left:216px;
transform: rotate(90deg);
}

.arrowside11 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:1237px;
left:307px;
transform: rotate(45deg);
}

.arrowside12 {
width:2px;
height: 11px;
background-color: rgb(239,62,45);
position: absolute;
top:1231px;
left:307px;
transform: rotate(-45deg);
}






